.demo__section {
  color: #fff;
  height: 100vh;
}

.demo__section .container {
  height: 100%;
  padding-top: 3rem;
  width: 100%;
}

.demo__section img {
  max-width: 100%;
}

.demo .hero {
  background-color: #45c3ff;
  color: #fff;
  height: 100vh;
}

.demo .hero .container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}

.demo .hero__content {
  max-width: 60rem;
  text-align: center;
}

.demo .hero__content h1 {
  font-size: 3.5rem;
  max-width: 70rem;
}

.demo .hero__start {
  background-color: #ff45c3;
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  font-size: 2.5rem;
  height: 5rem;
  line-height: 5rem;
  margin-top: 1.5rem;
  padding: 0 4rem;
  text-align: center;
}

.demo .hero__start :active,
.demo .hero__start :focus,
.demo .hero__start :hover {
  color: #fff;
  text-decoration: none;
}

.list {
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
}

.projects {
  background-color: #8145ff;
}

.projects h2 {
  color: #ff45c3;
  font-size: 2.5rem;
}

.projects .list > div {
  flex: 1;
}

.mission {
  background-color: #ff4579;
}

.mission .container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.mission h2 {
  color: #fff045;
  font-size: 2.5rem;
}

.mission button {
  background-color: #fff;
  border: 0;
  color: #000;
  cursor: help;
  font-size: 2rem;
  margin-left: 30px;
}

.mission button:hover {
  background-color: #000;
  color: #fff;
}

h3 {
  margin-top: 0;
}

.about {
  background-color: #fff045;
}

.about h2 {
  color: #45c3ff;
  font-size: 2.5rem;
}

.loading {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  left: 50%;
  position: fixed;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
